@model List<IsTakipSistemiMVC.Models.Isler>
@{
    Layout = "~/Views/Shared/_LayoutCalisan.cshtml";
}
<link rel="stylesheet" href="~/css/WorkerPage.css" />
<h2>@ViewBag.WelcomeMessage</h2>
@* <p>@ViewBag.BirimAd</p> *@
@{
    var count = 0;
}
@foreach (var isler in Model)
{
    count++;
    <div class="card mb-3">
        <div class="card-header text-center">
            @isler.IsBaslik

        </div>

        <div class="card-body">
            <form asp-controller="Home" asp-action="WorkerYeniIs">
                <p><b>Assignment Description:</b> @isler.IsAciklama</p>
                <p><b>Job Transmission Date:</b> @isler.IletilenTarih</p>
                <input type="hidden" name="IsId" value="@isler.IsId"/>
                <button type="submit" id="okundu-button" class="btn btn-outline-success">✓</button>

            </form>
        </div>
    </div>
}
@if(count == 0)
{
    <p>No new job has been assigned yet.</p>
}