@model IsTakipSistemiMVC.Models.IsTakipViewModel
@{
    ViewBag.Tittle = "İş Listele";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<div class="container mt-5 mb-3">
    <div class="mb-3">
        <h3>@Model.Personel.PersonelAdSoyad Kişisinin Tamamlanması Beklenen İşlerinin Listesi</h3>
    </div>
    @foreach (var isler in Model.Isler)
    {
        if (isler.IsDurumId==1) 
        {
        <div class="card">
            <div class="card-header text-center ">
                @isler.IsBaslik
            </div>
            <div class="card-body">
                <ul class="list-group ">
                    <li class="list-group-item">Job Description: @isler.IsAciklama</li>
                    <li class="list-group-item">Job Transmission Date:@isler.IletilenTarih</li>
                    <li class="list-group-item">Completion Date of Job: @isler.YapilanTarih</li>
                    <li class="list-group-item">Comment of Job: @isler.IsYorum</li>
                    <li class="list-group-item">Job Status: @isler.DurumAd</li>



                </ul>
            </div>
        </div>
        }
    }
    <div class="mb-3">
        <h3>List of Completed Jobs by @Model.Personel.PersonelAdSoyad </h3>
    </div>
    @foreach (var isler in Model.Isler)
    {
        if (isler.IsDurumId == 2)
        {
            <div class="card">
                <div class="card-header text-center ">
                    @isler.IsBaslik
                </div>
                <div class="card-body">
                    <ul class="list-group ">
                        <li class="list-group-item">Job Description: @isler.IsAciklama</li>
                        <li class="list-group-item">Job Transmission Date: @isler.IletilenTarih</li>
                        <li class="list-group-item">Completion Date of the Job: @isler.YapilanTarih</li>
                        <li class="list-group-item">Comment of Job: @isler.IsYorum</li>
                        <li class="list-group-item">Job Status: @isler.DurumAd</li>



                    </ul>
                </div>
            </div>
        }
    }
</div>
