@model List<IsTakipSistemiMVC.Models.Isler>
@{
    Layout = "~/Views/Shared/_LayoutCalisan.cshtml";
}

<h2>@ViewBag.WelcomeMessage</h2>
@* <p>@ViewBag.BirimAd</p> *@

@foreach (var isler in Model)
{   
    <div class="card">
        <div class="card-header text-center">
            <p>New Assignment: @isler.IsBaslik</p>
        </div>

        <div class="card-body">
            <form asp-controller="Home" asp-action="WorkerYeniIs">
                <p>Assignment Description: @isler.IsAciklama</p>
                <p>Job Transmission Date: @isler.IletilenTarih</p>
                <input type="hidden" name="IsId" value="@isler.IsId"/>
    
                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-success">✓</button>
                </div>
            </form>
        </div>
    </div>
}